<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/weather-icons.min.css" rel="stylesheet"/>

    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
            rel="stylesheet" type="text/css">

    <link href="/css/demo.min.css" rel="stylesheet"/>
    <link href="/css/typicons.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/css/toastr.css" rel="stylesheet"/>
    <link href="/css/fileinput.min.css" rel="stylesheet"/>

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-editable.min.js"></script>
    <script src="/js/bootstrap-table.js?t=4"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-table-editable.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/fileinput.min.js"></script>
    <script src="/js/fileinput_local_zh.js"></script>
    <style>
    </style>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "positionClass": "toast-top-right", //弹出窗的位置
            "showDuration": "300", //显示的动画时间
            "hideDuration": "300", //消失的动画时间
            "timeOut": "3000", //展现时间
            "showEasing": "swing", //显示时的动画缓冲方式
            "hideEasing": "linear", //消失时的动画缓冲方式
            "showMethod": "fadeIn", //显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
        var rowData = -1;
        /**
         * 点击变色
         */
        $(document).on('click', 'tr', function () {
            $(this).addClass('selected').siblings().removeClass('selected');
        });

        /**
         * 表格初始化方法
         * @returns {Object}
         * @constructor
         */
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#mytable').bootstrapTable({
                    url: '/flower/listWord',
                    method: 'post',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
                    sortable: true,                     //是否启用排序
                    minimumCountColumns: 2,             //最少允许的列数
                    //height: 800,
                    singleSelect: true, 				//单行选中，一次只能选择一行
                    clickToSelect: true,
                    onClickCell: function (index, value, row) {
                        rowData = row;
                    },
                    columns: [
                           {
                            title: '序号',
                            align: 'center',
                            formatter: function (value, row, index) {
                                return index + 1;
                            }
                        }, {
                            field: 'flowerWordId',
                            sortable: true,
                            title: '小红花文案id',
                            align: "center",
                            visible: false,
                        }, {
                            field: 'half1',
                            sortable: true,
                            title: '上半句',
                            align: "center",
                            width: 400,
                        }, {
                            field: 'half2',
                            sortable: true,
                            title: '下半句',
                            align: "center",
                            width: 400,
                        }, {
                            field: 'createDate',
                            sortable: true,
                            align: "center",
                            title: '创建时间',
                        },{
                            field: 'operate',
                                title: '操作',
                            align: 'center',
                            valign: 'middle',
                            width: 200,
                            events: {
                                'click #edit': function (e, value, row, index) {
                                    $("#myModalLabel").text("激励文案编辑");
                                    $("#txt_flowerWordId").val(row.flowerWordId);
                                    $("#txt_half1").val(row.half1);
                                    $("#txt_half2").val(row.half2);
                                    $("#btn_submit").attr("onclick", "editWord()");
                                    $('#myModal').modal();
                                },
                                'click #delete': function (e, value, row, index) {
                                    confirmDeleteWord(row.flowerWordId);
                                }
                            },
                            formatter: function (value, row, index) {
                                var result = "";
                                result += '<button id="edit" class="btn btn-info" data-toggle="modal" data-target="#editModal" style="margin-left:10px;">编辑</button>';
                                result += '<button id="delete" class="btn btn-danger" style="margin-left:10px;">删除</button>';
                                return result;
                            }
                        }
                    ],

                })
            };
            return oTableInit;
        }

        /**
         * 表格重加载方法
         */
        function reload() {
            $("#mytable").bootstrapTable('refresh');
            rowData = -1;
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">

                <div class="toolbar col-xs-12">
                    <button class="btn  btn-primary" onclick="openUploadWin()" title="添加文案"><i
                            class="glyphicon glyphicon-plus"></i>添加激励文案
                    </button>
                </div>
                <div class="col-xs-12">
                    <table class="table " id="mytable">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="txt_form" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加激励文案</h4>
                </div>
                <div class="modal-body" style="float: left">
                    <div class="form-group" hidden>
                        <label for="txt_flowerWordId">文案id</label>
                        <input type="number"  class="form-control" id="txt_flowerWordId"
                               placeholder="文案id">
                    </div>
                    <div class="form-group" style="width:570px;float:left">
                        <label for="txt_half1">上半句</label>
                        <textarea class="form-control" id="txt_half1" placeholder="上半句"></textarea>
                    </div>
                    <div class="form-group" style="width:570px;float:left">
                        <label for="txt_half2">下半句</label>
                        <textarea class="form-control" id="txt_half2" placeholder="下半句"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn_submit"><span
                            class="glyphicon glyphicon-refresh" aria-hidden="true"></span>保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var oTable = new TableInit();
    oTable.Init();

    /**
     * 打开添加窗口
     */
    function openUploadWin() {
        $("#txt_flowerWordId").val("");
        $("#txt_half1").val("");
        $("#txt_half2").val("");
        $("#btn_submit").attr("onclick", "uploadWord()");
        $('#myModal').modal();
    }

    function uploadWord(){
        if ($("#txt_half1").val() == null || $("#txt_half1").val().trim() == "") {
            toastr.warning("上半句不能为空");
        } else if ($("#txt_half2").val() == null || $("#txt_half2").val().trim() == "") {
            toastr.warning("下半句不能为空");
        }  else {
            $("#btn_submit").prop("disabled",true);
            $.ajax({
                url: "flower/uploadWord",
                method:"post",
                data: {
                    half1:$("#txt_half1").val(),
                    half2:$("#txt_half2").val(),
                },
                dataType: "json",
                success: function (d) {
                    $("#btn_submit").prop("disabled",false);
                    if (d == 0) {
                        reload();
                        $('#myModal').modal('hide');
                        toastr.success("文案添加成功");
                    } else {
                        toastr.warning("系统开小差啦,请联系管理员");
                    }
                },
                error: function (json) {
                    toastr.warning("网络繁忙,请稍后再试");
                }
            });
        }
    }

    function editWord(){
        if ($("#txt_half1").val() == null || $("#txt_half1").val().trim() == "") {
            toastr.warning("上半句不能为空");
        } else if ($("#txt_half2").val() == null || $("#txt_half2").val().trim() == "") {
            toastr.warning("下半句不能为空");
        }  else {
            $("#btn_submit").prop("disabled",true);
            $.ajax({
                url: "flower/editWord",
                method:"post",
                data: {
                    flowerWordId:$("#txt_flowerWordId").val(),
                    half1:$("#txt_half1").val(),
                    half2:$("#txt_half2").val(),
                },
                dataType: "json",
                success: function (d) {
                    $("#btn_submit").prop("disabled",false);
                    if (d == 0) {
                        reload();
                        $('#myModal').modal('hide');
                        toastr.success("文案编辑成功");
                    } else {
                        toastr.warning("系统开小差啦,请联系管理员");
                    }
                },
                error: function (json) {
                    toastr.warning("网络繁忙,请稍后再试");
                }
            });
        }
    }



    /**
     * 删除文案弹窗
     */
    function confirmDeleteWord(flowerWordId){
        bootbox.confirm({
            size: "small",
            message: "确认删除文案吗?",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    deleteWord(flowerWordId);
                } else {
                }
            }
        });
    }
    /**
     * 删除计划
     */
    function deleteWord(flowerWordId) {
        $.ajax({
            url:"flower/deleteWord",
            method:"post",
            data:{
                flowerWordId:flowerWordId,
            },
            dataType:"json",
            success:function(d){
                if (d == 0) {
                    reload();
                    toastr.success("文案删除成功");
                } else {
                    toastr.warning("系统开小差啦,请联系管理员");
                }
            },
            error:function(){
                toastr.warning("网络繁忙,请稍后再试")
            }
        })
    }
</script>
</body>
</html>