<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/weather-icons.min.css" rel="stylesheet"/>

    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
            rel="stylesheet" type="text/css">

    <link href="/css/demo.min.css" rel="stylesheet"/>
    <link href="/css/typicons.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/css/toastr.css" rel="stylesheet"/>
    <link href="/css/fileinput.min.css" rel="stylesheet"/>

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-editable.min.js"></script>
    <script src="/js/bootstrap-table.js?t=4"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-table-editable.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/fileinput.min.js"></script>
    <script src="/js/fileinput_local_zh.js"></script>
    <style>
        td {
            border-top: 1px solid transparent !important;
            border-left: 1px solid transparent !important;
            border-right: 1px solid transparent !important;
        }

        th {
            border-top: 1px solid transparent !important;
            border-left: 1px solid transparent !important;
            border-right: 1px solid transparent !important;
            font-size: 20px;
        }
    </style>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "positionClass": "toast-top-right", //弹出窗的位置
            "showDuration": "300", //显示的动画时间
            "hideDuration": "300", //消失的动画时间
            "timeOut": "3000", //展现时间
            "showEasing": "swing", //显示时的动画缓冲方式
            "hideEasing": "linear", //消失时的动画缓冲方式
            "showMethod": "fadeIn", //显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
        var rowDataA = -1;
        var rowDataB = -1;
        /**
         * 点击变色
         */
        $(document).on('click', 'tr', function () {
            $(this).addClass('selected').siblings().removeClass('selected');
        });
        /**
         * 文件上传初始化
         */
        var FileInputInit = function (){
            var oFileInputInit = new Object();
            oFileInputInit.Init = function(){
                $("#txt_pic1").fileinput({
                    language: 'zh', //设置语言
                    allowedFileExtensions: ['jpg', 'png', 'bmp', 'jpeg'],//接收的文件后缀
                    showPreview: false,              //展前预览
                    showUpload: false,
                    autoReplace: true,
                    maxFileSize: 1024,//上传文件最大的尺寸
                    maxFilesCount: 1,//
                    dropZoneEnabled: true,//是否显示拖拽区域
                    browseClass: "btn btn-primary", //按钮样式
                    previewSettings: {image: {width: "100px", height: "100px"},},
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                })
                $("#txt_pic2").fileinput({
                    language: 'zh', //设置语言
                    allowedFileExtensions: ['jpg', 'png', 'bmp', 'jpeg'],//接收的文件后缀
                    showPreview: false,              //展前预览
                    showUpload: false,
                    autoReplace: true,
                    maxFileSize: 1024,//上传文件最大的尺寸
                    maxFilesCount: 1,//
                    dropZoneEnabled: true,//是否显示拖拽区域
                    browseClass: "btn btn-primary", //按钮样式
                    previewSettings: {image: {width: "100px", height: "100px"},},
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                })
            };
            return oFileInputInit;
        }

        /**
         * 表格初始化方法
         * @returns {Object}
         * @constructor
         */
        var TableAInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#mytableA').bootstrapTable({
                    url: '/structure/listByPid',
                    method: 'post',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: false,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    minimumCountColumns: 2,             //最少允许的列数
                    //height: 800,
                    singleSelect: true, 				//单行选中，一次只能选择一行
                    clickToSelect: true,
                    sortName: 'sequence',
                    sortOrder: 'asc',
                    onClickCell: function (index, value, row) {
                        rowDataA = row;
                        reloadLow();
                    },
                    queryParams: function (params) { //查询字段，每次选择下拉菜单的时候，重新刷新表格就行
                        return {
                            pid: $("#sel_highStructure").val(),
                        }
                    },
                    columns: [
                        {
                            field: 'sequence',
                            align: 'center',
                            title: '中类',
                            sortable: true,
                            editable: {
                                type: 'text',
                                title: '排序',
                            }
                        }, {
                            field: 'structureId',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'structureName',
                            sortable: true,
                            align: "center",
                            width: 300,
                        }, {
                            field: 'description',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'harvest',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'operate',
                            align: 'center',
                            valign: 'middle',
                            width: 200,
                            events: {
                                'click #edit': function (e, value, row, index) {
                                    $("#myModalLabel").text("分类编辑");
                                    $(".typeA").prop("hidden", true);
                                    $(".typeB").prop("hidden", true);
                                    $("#txt_structureType").val(1);
                                    $("#txt_structureId").val(row.structureId);
                                    $("#txt_structureName").val(row.structureName);
                                    $("#txt_sequence").val(row.sequence);
                                    $("#txt_pic1").val("");
                                    $("#txt_pic2").val("");
                                    $(".fileinput-remove-button").click();
                                    $("#txt_highStructure").val($("#sel_highStructure").val());
                                    $("#txt_description").val("");
                                    $("#txt_harvest").val("");
                                    $("#txt_teacher").val("");
                                    $("#btn_submit").attr("onclick", "editStructure()");
                                    changeTxtStructureType();
                                    $('#myModal').modal();
                                },
                                'click #delete': function (e, value, row, index) {
                                    confirmDelete(row.structureId);
                                }
                            },
                            formatter: function (value, row, index) {
                                var result = "";
                                result += '<button id="edit" class="btn btn-info" data-toggle="modal" data-target="#editModal" style="margin-left:10px;">编辑</button>';
                                result += '<button id="delete" class="btn btn-danger" style="margin-left:10px;">删除</button>';
                                return result;
                            }
                        }],
                    onEditableSave: function (field, row, oldValue, $el) {
                        $.ajax({
                            type: "post",
                            url: "/structure/editSequence",
                            data:{
                                structureId:row.structureId,
                                sequence:row.sequence,
                            },
                            dataType: 'JSON',
                            success: function (d) {
                                if (d == 0) {
                                    reloadMid();
                                    toastr.success("顺序修改成功");
                                } else {
                                    toastr.warning("系统开小差啦,请联系管理员");
                                }
                            },
                            error: function () {
                                toastr.warning("网络繁忙,请稍后再试");
                            },
                        });
                    }
                })
            };
            return oTableInit;
        }
        var TableBInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#mytableB').bootstrapTable({
                    url: '/structure/listByPid',
                    method: 'post',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: false,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    minimumCountColumns: 2,             //最少允许的列数
                    //height: 800,
                    singleSelect: true, 				//单行选中，一次只能选择一行
                    clickToSelect: true,
                    sortName: 'sequence',
                    sortOrder: 'asc',
                    onClickCell: function (index, value, row) {
                        rowDataB = row;

                    },
                    queryParams: function (params) { //查询字段，每次选择下拉菜单的时候，重新刷新表格就行
                        return {
                            pid: rowDataA == 0 ? 0 : rowDataA.structureId,
                        }
                    },
                    columns: [
                        {
                            field: 'sequence',
                            title: '小类',
                            align: 'center',
                            sortable: true,
                            editable: {
                                type: 'text',
                                title: '排序',
                            }
                        }, {
                            field: 'structureId',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'structureName',
                            sortable: true,
                            align: "center",
                            width: 200,
                        }, {
                            field: 'status',
                            sortable: true,
                            align: "center",
                            width: 100,
                            formatter: function (value, row, index) {
                                return value == 0 ? "公共课程" : "内部课程";
                            }
                        }, {
                            field: 'teacher',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'description',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'harvest',
                            sortable: true,
                            align: "center",
                            visible: false,
                        }, {
                            field: 'operate',
                            align: 'center',
                            valign: 'middle',
                            width: 200,
                            events: {
                                'click #low_edit': function (e, value, row, index) {
                                    $("#myModalLabel").text("分类编辑");
                                    $(".typeB").prop("hidden", false);
                                    $(".typeA").prop("hidden", true);
                                    $("#txt_structureType").val(2);
                                    $("#txt_structureId").val(row.structureId);
                                    $("#txt_structureName").val(row.structureName);
                                    $("#txt_sequence").val(row.sequence);
                                    $("#txt_status").val(row.status);
                                    $("#txt_teacher").val(row.teacher);
                                    $("#txt_pic1").val("");
                                    $("#txt_pic2").val("");
                                    $(".fileinput-remove-button").click();
                                    $("#txt_highStructure").val($("#sel_highStructure").val());
                                    loadTxtMidStructure();
                                    $("#txt_description").val(row.description);
                                    $("#txt_harvest").val(row.harvest);
                                    $("#btn_submit").attr("onclick", "editStructure()");
                                    changeTxtStructureType();
                                    $('#myModal').modal();
                                },
                                'click #low_delete': function (e, value, row, index) {
                                    confirmDelete(row.structureId);
                                }
                            },
                            formatter: function (value, row, index) {
                                var result = "";
                                result += '<button id="low_edit" class="btn btn-info" data-toggle="modal" data-target="#editModal" style="margin-left:10px;">编辑</button>';
                                result += '<button id="low_delete" class="btn btn-danger" style="margin-left:10px;">删除</button>';
                                return result;
                            }
                        }],
                    onEditableSave: function (field, row, oldValue, $el) {
                        $.ajax({
                            type: "post",
                            url: "/structure/editSequence",
                            data:{
                                structureId:row.structureId,
                                sequence:row.sequence,
                            },
                            dataType: 'JSON',
                            success: function (d) {
                                if (d == 0) {
                                    reloadLow();
                                    toastr.success("顺序修改成功");
                                } else {
                                    toastr.warning("系统开小差啦,请联系管理员");
                                }
                            },
                            error: function () {
                                toastr.warning("网络繁忙,请稍后再试");
                            },
                        });
                    }
                })
            };
            return oTableInit;
        }

        /**
         * 表格重加载方法
         */
        function reloadMid() {
            $("#mytableA").bootstrapTable('refresh');
            rowDataA = -1;
            reloadLow();
        }

        function reloadLow() {
            $("#mytableB").bootstrapTable('refresh');
            rowDataB = -1;
        }

    </script>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">

                <div class="toolbar col-xs-12">
                    <H4 style="float:left;margin-right: 5px">课程大类:</H4>
                    <select class="form-control" style="width:150px;float:left;margin-left:5px; margin-right: 10px"
                            id="sel_highStructure"
                            onchange="reloadMid()">
                        <option value="1">IT编程</option>
                        <option value="2">产品经理</option>
                    </select>
                    <button class="btn  btn-primary" onclick="openUploadWin()" title="添加分类"><i
                            class="glyphicon glyphicon-plus"></i>添加分类
                    </button>
                </div>
                <div class="col-xs-6">
                    <table class="table " id="mytableA">

                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table" id="mytableB">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="txt_form" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加分类</h4>
                </div>
                <div class="modal-body" style="float: left">
                    <div class="form-group" hidden>
                        <label for="txt_structureId">分类id</label>
                        <input type="number" name="structureId" class="form-control" id="txt_structureId"
                               placeholder="分类id">
                    </div>
                    <div class="form-group typeA" style="width:570px;float:left">
                        <label for="txt_structureType">添加分类类型</label>
                        <select class="form-control" name="structureType" id="txt_structureType"
                                onchange="changeTxtStructureType()">
                            <option value="1">添加中类</option>
                            <option value="2">添加小类</option>
                        </select>
                    </div>
                    <div class="form-group" style="width:250px;float:left">
                        <label for="txt_structureName">分类名称</label>
                        <input type="text" name="structureName" class="form-control" id="txt_structureName"
                               placeholder="分类名称">
                    </div>
                    <div class="form-group" style="width:250px;float:right">
                        <label for="txt_sequence">分类排序</label>
                        <input type="number" name="sequence" class="form-control" id="txt_sequence" placeholder="分类排序">
                    </div>
                    <div class="form-group typeB" style="width:250px;float:left">
                        <label for="txt_status">分类权限</label>
                        <select class="form-control" name="status" id="txt_status">
                            <option value="0">公开课程</option>
                            <option value="1">内部课程</option>
                        </select>
                    </div>
                    <div class="form-group typeB" style="width:250px;float:right">
                        <label for="txt_teacher">主讲人</label>
                        <input type="text" name="teacher" class="form-control" id="txt_teacher" placeholder="主讲人(可多个)">
                    </div>
                    <div class="form-group" id="pic_container" style="width:250px;float:left">
                        <label for="txt_pic1" id="pic1_title">图标(白)</label>
                        <input type="file" name="file1" class="form-control" id="txt_pic1" placeholder="请选择图片/图标">
                    </div>
                    <div class="form-group" id="pic_container2" style="width:250px;float:right">
                        <label for="txt_pic2">图标(黑)</label>
                        <input type="file" name="file2" class="form-control" id="txt_pic2" placeholder="请选择图片/图标">
                    </div>
                    <div class="form-group" style="width:250px;float:left">
                        <label for="txt_highStructure">大类选择</label>
                        <select class="form-control" name="pid1" id="txt_highStructure"
                                onchange="changeTxtMidStructure()">
                            <option value="1">IT编程</option>
                            <option value="2">产品经理</option>
                        </select>
                    </div>
                    <div class="form-group typeA typeB" style="width:250px;float:right">
                        <label for="txt_midStructure">中类选择</label>
                        <select class="form-control typeB" name="pid2" id="txt_midStructure" hidden>
                            <option value="0">选择中类</option>
                        </select>
                    </div>

                    <div class="form-group typeB" style="width:570px;float:left">
                        <label for="txt_description">分类简介</label>
                        <textarea name="description" class="form-control" id="txt_description" rows="3"
                                  placeholder="分类简介"></textarea>
                    </div>
                    <div class="form-group typeB" style="width:570px;float:left">
                        <label for="txt_harvest">学员收获</label>
                        <textarea name="harvest" class="form-control" id="txt_harvest" rows="3"
                                  placeholder="学员将收获什么"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn_submit"><span
                            class="glyphicon glyphicon-refresh" aria-hidden="true"></span>保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var oFileInput = new FileInputInit();
    oFileInput.Init();

    var oTableA = new TableAInit();
    oTableA.Init();

    var oTableB = new TableBInit();
    oTableB.Init();

    /**
     * 打开添加窗口
     */
    function openUploadWin() {
        $("#myModalLabel").text("分类添加");
        $(".typeA").prop("hidden", false);
        if (rowDataA != -1) {
            $(".typeB").prop("hidden", false);
            $("#txt_structureType").val(2);
            $("#txt_status").val(0);
            $("#txt_teacher").val("");
        } else {
            $(".typeB").prop("hidden", true);
            $("#txt_structureType").val(1);
        }
        $("#txt_structureId").val("");
        $("#txt_structureName").val("");
        $("#txt_sequence").val("");
        $("#txt_pic1").val("");
        $("#txt_pic2").val("");
        $(".fileinput-remove-button").click();
        $("#txt_highStructure").val($("#sel_highStructure").val());
        loadTxtMidStructure();
        $("#txt_description").val("");
        $("#txt_harvest").val("");
        $("#btn_submit").attr("onclick", "uploadStructure()");
        changeTxtStructureType();
        $('#myModal').modal();
    }

    /**
     * 分类添加
     */
    function uploadStructure() {
        if ($("#txt_structureName").val() == null || $("#txt_structureName").val().trim() == "") {
            toastr.warning("分类名称不能为空");
        } else if ($("#txt_sequence").val() == null || $("#txt_sequence").val().trim() == "") {
            toastr.warning("分类排序不能为空");
        } else if ($("#txt_structureType").val() == 1 && ($("#txt_pic1").val() == null || $("#txt_pic1").val().trim() == "" || $("#txt_pic2").val() == null || $("#txt_pic2").val().trim() == "")) {
            toastr.warning("请上传黑&白图标");
        } else if ($("#txt_structureType").val() == 2 && ($("#txt_pic1").val() == null || $("#txt_pic1").val().trim() == "")) {
            toastr.warning("请上传图片");
        } else {
            $("#btn_submit").prop("disabled",true);
            $.ajax({
                url: "structure/upload",
                data: new FormData($("#txt_form")[0]),
                type: "POST",
                // 告诉jQuery不要去处理发送的数据，用于对data参数进行序列化处理 这里必须false
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                dataType: "json",
                success: function (d) {
                    $("#btn_submit").prop("disabled",false);
                    if (d == 0) {
                        if ($("#txt_structureType").val() == 1) {
                            reloadMid();
                        } else {
                            reloadLow();
                        }
                        $('#myModal').modal('hide');
                        toastr.success("分类添加成功");
                    } else {
                        toastr.warning("系统开小差啦,请联系管理员");
                    }
                },
                error: function (json) {
                    toastr.warning("网络繁忙,请稍后再试");
                }
            });
        }
    }

    /**
     * 级联更改弹窗内中类
     */
    function changeTxtMidStructure() {
        var pid = $("#txt_highStructure").val();
        if (pid == "0") {
            $("#txt_midStructure").empty();
            $("#txt_midStructure").append('<option value = "0">选择中类</option>');
        } else {
            $.ajax({
                url: "structure/listByPid",
                method: "post",
                data: {
                    pid: pid,
                },
                dataType: "json",
                success: function (d) {
                    $("#txt_midStructure").empty();
                    if (d != null && d != "") {
                        $(d).each(function (k, v) {
                            $("#txt_midStructure").append('<option value = "' + v.structureId + '">' + v.structureName + '</option>');
                        })
                    } else {
                        $("#txt_midStructure").append('<option value = "-1">无中类数据</option>');
                    }
                },
                error: function () {
                    toastr.warning("网络繁忙,请稍后再试");
                }
            })
        }
    }

    /**
     * 加载弹窗内中类并默认选择
     */
    function loadTxtMidStructure() {
        var pid = $("#txt_highStructure").val();

        $.ajax({
            url: "structure/listByPid",
            method: "post",
            data: {
                pid: pid,
            },
            dataType: "json",
            success: function (d) {
                $("#txt_midStructure").empty();
                if (d != null && d != "") {
                    $(d).each(function (k, v) {
                        $("#txt_midStructure").append('<option value = "' + v.structureId + '">' + v.structureName + '</option>');
                    });
                    $("#txt_midStructure").val(rowDataA.structureId);
                } else {
                    $("#txt_midStructure").append('<option value = "-1">无中类数据</option>');
                }
            },
            error: function () {
                toastr.warning("网络繁忙,请稍后再试");
            }
        })
    }

    /**
     * 编辑分类
     */
    function editStructure() {
        if ($("#txt_structureName").val() == null || $("#txt_structureName").val().trim() == "") {
            toastr.warning("分类名称不能为空");
        } else if ($("#txt_sequence").val() == null || $("#txt_sequence").val().trim() == "") {
            toastr.warning("分类排序不能为空");
        } else {
            $.ajax({
                url: "structure/edit",
                data: new FormData($("#txt_form")[0]),
                type: "POST",
                // 告诉jQuery不要去处理发送的数据，用于对data参数进行序列化处理 这里必须false
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                dataType: "json",
                success: function (d) {
                    if (d == 0) {
                        if ($("#txt_structureType").val() == 1) {
                            reloadMid();
                        } else {
                            reloadLow();
                        }
                        $('#myModal').modal('hide');
                        toastr.success("分类修改成功");
                    } else {
                        toastr.warning("系统开小差啦,请联系管理员");
                    }
                },
                error: function (json) {
                    toastr.warning("网络繁忙,请稍后再试");
                }
            });
        }
    }

    /**
     * 删除弹窗
     * @param structureId
     */
    function confirmDelete(structureId){
        bootbox.confirm({
            size: "small",
            message: "确认删除分类吗?",
            buttons: {
                confirm: {
                    label: '确定',
                    className: 'btn-success'
                },
                cancel: {
                    label: '取消',
                    className: 'btn-danger'
                }
            },
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    deleteStructure(structureId);
                } else {
                }
            }
        });
    }
    /**
     * 删除分类
     */
    function deleteStructure(structureId) {
        $.ajax({
            url:"structure/delete",
            method:"post",
            data:{
                structureId:structureId,
            },
            dataType:"json",
            success:function(d){
                if (d == 0) {
                    if (structureId == rowDataA.structureId) {
                        reloadMid();
                    } else {
                        reloadLow();
                    }
                    toastr.success("分类删除成功");
                } else {
                    toastr.warning("系统开小差啦,请联系管理员");
                }
            },
            error:function(){
                toastr.warning("网络繁忙,请稍后再试")
            }
        })
    }

    /**
     * 弹窗类型变更
     */
    function changeTxtStructureType() {
        var type = $("#txt_structureType").val();
        if (type == "1") {
            $(".typeB").prop("hidden", true);
            $("#pic_container2").prop("hidden", false);
            $("#pic_container").css("width", "250px");
            $("#pic1_title").text("图标(白)");
        } else {
            $(".typeB").prop("hidden", false);
            $("#pic_container2").prop("hidden", true);
            $("#pic_container").css("width", "570px");
            $("#pic1_title").text("图片");
        }
    }
</script>
</body>
</html>